{{!-- upload image --}}

<div>
<div id="pictures"><img src ="/public/uploads/bork.jpg"></div>

<div id="comments">
    <p id="com">DROP A COMMENT BELOW!</p>
    
<form action="public/index.php" method="post" >
    
	<input id="q" type="TEXT" name="name" accepts="text" placeholder="Name" >
    
	<input id="comment" type="box" name="comment" accepts="text" placeholder="Comment" >
    
	<input type="submit" id="submit_post" value = "POST">
</form>  
</div>
    
</div>

