
<div class="ui middle aligned center aligned grid">
  <div class="column">
<img class="ui image" href="../img/snickers.png">
<img class="ui image" href="../img/kisses.png">
<img class="ui image" href="../img/twix.png">
<img class="ui image" href="../img/mm.png">
      ,
  </div>
</div>